<%= render "layouts/header" %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
  
    <legend>Salas de Apostas</legend>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome da Sala</th>
          <th>Descrição</th>
          <th>Dono da Sala</th>
          <th>Categoria</th>
          <th>Status da Sala</th>
          <th>Tipo de Sala</th>
          <th>Data limite para apostas</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @bets.each do |bet| %>
          <tr>
            <td><%= bet.name.to_s.force_encoding("UTF-8") %></td>
            <td><%= bet.description.to_s.force_encoding("UTF-8") %></td>
            <% user = Usuario.find(bet.usuario_id) %>
            <td><%= user.name %></td>
            <td><%= bet.category %></td>
            <td>
              <% if bet.room_status == 0 %>
                Inativa
              <% else %>
                Ativa
              <% end %>
            </td>
            <td>
              <% if bet.room_type == 0 %>
                Privada
              <% else %>
                Pública
              <% end %>
            </td>
            <td><%= bet.final_date %></td>
            <td>
              <%= link_to bet, title: "Visualizar" do %>
                <span class='glyphicon glyphicon-eye-open'></span>
              <% end %>
            </td>
            <td>
                <%= link_to edit_bet_path(bet), title: "Editar" do %>
                  <span class='glyphicon glyphicon-edit'></span>
                <% end %>
            </td>
            <td>
                <%= link_to bet, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta sala?' }, title: "Excluir Sala" do %>
                  <span class='glyphicon glyphicon-trash'></span>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to new_bet_path do %>
      <span class='glyphicon glyphicon-plus-sign'></span>&nbsp;Nova Sala de Apostas
    <% end %>
  
  </div>
</div>
<%= render "layouts/footer" %>