		<div class="bloco-home">
			<div class="bloco-home" id="banner-bloco-home">
				<div class="bloco-home" id="cor-preto-bloco-home">
					<div class="bloco-home" id="gradient-white">
						<div class="card-bloco-home">
						</div>
						<div class="card-bloco-home">
							<div id="conteudo-banner-bloco-home">
								<p id="titulo-banner-bloco-home">Dobro ou Nada</p>
								<hr/>
								<br/>
								<br/>
								<input type="button" value="Conheça" class="botao-banner-bloco-home" onclick="window.location.href = 'http://dobroounada.herokuapp.com/#content-home'"/>
								<a href="#janela1" rel="modal" id="link-entrar"><input type="button" value="Entrar" class="botao-banner-bloco-home" id="entrar-banner-bloco-home"/></a>
							</div>
						</div>
						
						<div class="card-bloco-home">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="bloco-home" id="content-home">
			<div class="metade-home">
				<div class="box-content-home" id="circulo-content-home-1">
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="imagem-content-home" id="content-home-1">
					</div>
					<br/>
					<p class="sub-content-home">Dobro ou Nada</p>
				</div>
			</div>
			
			<div class="metade-home">
				<div class="etapa-bloco-home ajuste-etapa">
					<br/>
					<p class="titulo-etapa-bloco-home">O que é ?</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">O Dobro ou Nada é um serviço com a iniciativa de criar um ambiente lúdico de apostas. A sua principal proposta está em reunir diversos usuários para jogar em diferentes tipos de categorias, que podem abranger desde apostas esportivas do final da seleção ou até mesmo se alguém próximo a você caíra no próximo lance de escadas!</div></p>
					<p class="conteudo-etapa-bloco-home"></p>
				</div>
			</div>
		</div>
		
		<div class="bloco-home" id="content-home">
			<div class="metade-home">
				<div class="etapa-bloco-home ajuste-etapa">
					<br/>
					<p class="titulo-etapa-bloco-home">Como Funciona ?</p>
					<br/>
					<p class="conteudo-etapa-bloco-home"><h1>É simples. É rápido.</h1></p>
					<p class="conteudo-etapa-bloco-home"><br>Passo 1: Registre-se ou faça Login
														 <br>Passo 2: Entre ou crie uma sala
														 <br>Passo 3: Comece a jogar!</p>
				</div>
			</div>
		
			<div class="metade-home">
				<div class="box-content-home" id="circulo-content-home-2">
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="imagem-content-home" id="content-home-1">
					</div>
					<br/>
					<p class="sub-content-home">Dobro ou Nada</p>
				</div>
			</div>
		</div>
		
		<div class="bloco-home" id="conheca">
			<div class="card-bloco-home">
				<div class="etapa-bloco-home">
					<div class="imagem-etapa-bloco-home" id="etapa-1">
					</div>
					<br/>
					<p class="titulo-etapa-bloco-home">Apostadores</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">Encontre jogadores dos lugares mais<br> remotos ou se reúna com os seus amigos mais próximos dispostos a darem o seus palpites mais selvagens!
						
					</p>
				</div>
			</div>
			
			<div class="card-bloco-home">
				<div class="etapa-bloco-home">
					<div class="imagem-etapa-bloco-home" id="etapa-2">
					</div>
					<br/>
					<p class="titulo-etapa-bloco-home">Apostas</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">Jogue em salas públicas e privadas!<br> Ou seja você mesmo um Administrador<br> de uma sala de apostas!
					
					</p>

				</div>
			</div>
			
			<div class="card-bloco-home">
				<div class="etapa-bloco-home">
					<div class="imagem-etapa-bloco-home" id="etapa-3">
					</div>
					<br/>
					<p class="titulo-etapa-bloco-home">Ajuda</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">Dúvidas?<br> Acesse o nosso Tutorial ou<br> entre em contato conosco: dobroounada@email.com.</p>
				</div>
			</div>
		</div>
		
		<div class="window" id="janela1">
			<div class="panel panel-default" id="painel-login">
				<div class="panel-body">
					<!--form class="form-horizontal" role="form"-->
					<%= form_for @usuario, url: {controller: "usuarios", action: "login"}, :class => "form-horizontal" do |f|%>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo-icone" id="icone-painel-login"></div>
							<div class="field form-group">
								<label class="control-label col-sm-2" for="usuario">Usuário:</label>
								<div class="col-sm-9">
									<!--input :class => "form-control" id: => "usr-login" type="text" placeholder="Digite seu usuário..."-->
									<%= f.text_field :email, :id=>"usr-login", :placeholder=>"Digite seu usuário...", :class=>"form-control"%>
								</div>
							</div>
									
							<div class="field form-group">
								<label class="control-label col-sm-2" for="senha">Senha:</label>
								<div class="col-sm-9">
									<!--input class="form-control" id="psw-login" type="password" placeholder="Digite sua senha..."-->
									<%= f.password_field :access_token, :id=>"psw-login", :placeholder=>"Digite sua senha...", :class=>"form-control"%>
								</div>
							</div>
						</div>
						
						<div class="box-btn-login">
							<!--button type="button" class="btn btn-primary full-height full-width" id="btn-login">Login</button-->
							<%= f.submit "Entrar", :id=>"btn-login", :class=>"btn btn-primary full-height full-width"%>
						</div>
					
					<% end %>
					<!--/form-->
					
				</div>
			
				
			É novo? <%= link_to 'Cadastre-se', controller: 'usuarios', action: 'cadastro' %>
				
			<br/>
				
			<%= link_to "Login com Facebook", "/auth/facebook" %>
		</div>
		 
		 
		<!-- mascara para cobrir o site -->  
		<div id="mascara"></div>
		
		
		<script>verificacaoLogin();</script>