<p id="notice"><%= notice %></p>
<div class="full-width full-height" >
   <div class="full-width full-height" id="banner-bloco-home">
    <div class="full-width full-height" id="cor-preto-bloco-home">
     <div class="full-width full-height" id="gradient-white">
     
      <div class="card-bloco-home-center">
       <div class="bloco-box-cadastro">
        <p class="titulo-box-bloco-cadastro">Cadastre-se</p>
        <br>
         <div class= "caixa-banner-bloco-home">
           
           <%= form_for @usuario, url: {controller: "usuarios", action: "cadastro_create"} do |f| %>
                    <% if @usuario.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
                  
                        <ul>
                        <% @usuario.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    
                   <br>
                    <div class="field">
                    <label class="lbl-cadastro" for="Nome">Nome:  </label>
                      <%= f.text_field :name , :class=>"input-login-page"%>
                    </div>
                    
                   <br>
                    <div class="field">
                    <label class="lbl-cadastro" for="E-mail">Email:  </label>
                      <%= f.text_field :email , :class=>"input-login-page"%>
                    </div>
                    <br>
                    
                    <div class="field">
                      <label class="lbl-cadastro" for="senha">Senha:  </label>
               <%= f.password_field :access_token,  :class=>"input-login-page"%>
                    </div>
					
                    <div class="actions float-right">
                        <%= f.submit "Cadastrar", :class=>"btn-cadastro", :id=>"button_cad" %>
                    </div>
                    
                  <% end %>
      
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>